<!doctype html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %>
    <main>
        <section>
            <div class="contenedorSectionCompuesto">
                <div class="contenedorSectionSimple">
                    <div class="contenedorSectionInput">
                        <form action="/users/register" method="POST">
                            <div class="contenedorSectionPlacehold">
                                <input type="text" name="nombre" value="<%= locals.oldData ? oldData.nombre : null %>"/>
                                <label>Nombre</label>
                                <% if (locals.errors && errors.nombre) { %>
                                    <div>
                                        <%= errors.nombre.msg  %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="contenedorSectionPlacehold">
                                <input type="text" name="apellido" value="<%= locals.oldData ? oldData.apellido : null %>"/>
                                <label>Apellido</label>
                                <% if (locals.errors && errors.apellido) { %>
                                    <div>
                                        <%= errors.apellido.msg  %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="contenedorSectionPlacehold">
                                <input type="email" name="email" value="<%= locals.oldData ? oldData.email : null %>"/>
                                <label>Email</label>
                                <% if (locals.errors && errors.email) { %>
                                    <div>
                                        <%= errors.email.msg  %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="contenedorSectionPlacehold">
                                <input type="tel" name="telefono" value="<%= locals.oldData ? oldData.telefono : null %>"/>
                                <label>Teléfono</label>
                                <% if (locals.errors && errors.telefono) { %>
                                    <div>
                                        <%= errors.telefono.msg  %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="contenedorSectionBotón">
                                <button type="submit">Registrarse</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
